/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background-color: #f7f7f7;
  margin-left: 15px;
  margin-right: 15px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  width: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* .row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
} */

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  background-color: white;
  padding: 10px 47px;
  margin-bottom: 20px;
}

.grey-text {
  color: #b3b3b3;
}

.publisher-grey {
  display: flex;
  justify-content: center;
}

.mia {
  margin-bottom: 20px;
}

.mia h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  line-height: 26px; /* 118.182% */
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
}

.theones {
  margin-bottom: 20px;
}

.publisher {
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  padding-bottom: 30px;
}

.article-font {
  font-family: "Heebo", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px; /* 127.778% */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  padding-top: 25px;
}

.background {
  background-color: white;
}

.reviews {
  background-color: #eeeeee;
  padding: 20px;
  margin-top: 20px;
  font-family: "Heebo", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.article {
  margin-top: 20px;
}

.publisher-articles {
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  margin-left: 20px;
}

.articles {
  font-family: "Heebo", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  padding: 20px 20px 30px 20px;
}

.gabriel {
  font-family: "DM Serif Display", serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px; /* 118.182% */
  margin: 0 20px 20px 20px;
  padding-top: 25px;
}

.arguita {
  font-style: italic;
}

.bold-h3 {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.thin-h3 {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.other-articles {
  margin: 0 20px 20px 20px;
  padding-top: 25px;
}

.westside {
  font-family: "Heebo", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  padding: 20px 20px 51px 20px;
  margin-bottom: 50px;
}
